.container {
    margin: 16px;
    // height: 100%;
    padding: 24px;
    background: #fff;
    min-height: unset !important;
}

.containerMaxWidth {
    margin: 16px auto;
    width: calc(100% - 32px);
    max-width: 1024px;
    padding: 24px !important;
    background: #fff;
    min-height: unset !important;
}

.spinContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    margin: 16px;
    padding: 24px;
    background: #fff;
    min-height: unset !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    

    h1 {
        font-size: 25px;
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    button {
        margin-bottom: 5px;
    }
}

.divider {
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    // background-color: rgba(0,0,0,0.3);
}

