.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 7px 24px 7.5px 0;
    float: left;
}

.header {
    height: 46px !important;
    padding: 0 !important;
}

.drawer {
    :global {
        .ant-drawer-body {
            padding: 0 !important;
        } 
    }
}

.menuButton {
    display: none !important;
}

.menuDesktop {
    display: block !important;
}

.headerContainer {
    width: calc(100% - 32px);
    max-width: 1024px;
    margin: 0 auto;
    display: flex !important;
    align-items: center;
    padding: 0 !important;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .menuButton {
        display: flex !important;
        align-items: center;
    }
    
    .menuDesktop {
        display: none !important;
    }
}