.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center center;

    h1 {
        color: red;
    }
}


.card {
    height: fit-content !important;
    border-radius: 8px;
    padding: 24px;
    background-color: #fff;
}

